/* ---------------------------
        common styles
--------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color:  #FFFFFF;
}
h5 {
    text-align: center;
}

/* buttons style start */
.watch-Button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background: rgb(224, 44, 109);
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    transition: .8s ease-in;
}



.watch-Button .fas {
    margin-left: 8px;
}

.watch-Button:hover .fas {
    animation: rightIcon .2s ease infinite alternate;
}

@keyframes rightIcon {
    0% {
        color: white;
    }

    100% {
        transform: translateX(3px);
    }
}

/* button style ends */


/*live Section start */
.live-Section {
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.copa-Live {
    margin-left: 156px;
}

.live-Title {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}

.copa-Live a:hover {
    background: rgb(224, 44, 109);
    background: linear-gradient(25deg, rgba(224, 44, 109, 1) 0%, rgb(255, 42, 106) 39%, rgb(255, 12, 61) 100%);
    border: 1px solid #ffffff;
    outline: none;
}

.copa-Image {
    width: fit-content;
    margin: 0;
}

.copa-Image img {
    height: 438px;
    width: 556.0103149414062px;
}

/* live section ends */


/* ---------------------------
        players section
--------------------------- */
.players-section{
    margin-top: 70px;
}
.players{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player{
    margin: 10px auto;
    width: 320px;
    height: 475px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(230, 230, 230);
}

.player img{
    width: 300px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 10px;
}

.player-info{
    width: 300px;
    margin: auto;
    font-size: .9em;
}

.player-name h2{
    margin-top: 0px;
}

/*--highlight section start--*/

.highlight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.text{
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 180px;
    margin-bottom: 217px;
    
}


.text h1{
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
}
.image{
    margin-top: 165px;
    margin-bottom: 158px;
}
.image img{
    width: 500px;
}
/*--highlight section end--*/

/* ----------------------------------
        logo section
---------------------------------- */
.logo{
    margin: 20px auto 10px auto;
}
.logo img{
    width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------
        footer section
---------------------------------- */

.socia-icons{
    text-align: center;
    font-size: 2em;
}

.socia-icons a{
    text-decoration: none;
    color: rgb(200, 220, 243);
    display: inline-block;
    padding: 10px;
}

/* ----------------------------------
        copyright section
---------------------------------- */

.copyright{
    text-align: center;
    font-size: 18px;
}
